In [1]:
import pandas as pd
from sklearn.pipeline import Pipeline
from feature_engine.imputation import CategoricalImputer, MeanMedianImputer
from category_encoders import OrdinalEncoder
import numpy as np
from feature_engine.selection import DropConstantFeatures
from sklearn.metrics.pairwise import paired_distances
from statistics import mode
from sklearn.metrics import classification_report,confusion_matrix,f1_score
from sklearn.model_selection import train_test_split
import itertools
from collections import Counter

In [2]:
train = pd.read_csv("..//data/train.csv")
test = pd.read_csv("../data/train.csv")
train = train.loc[:,((train.columns!='PassengerId') & (train.columns!='Name'))]
test = test.loc[:,((test.columns!='PassengerId') & (test.columns!='Name'))]

In [3]:
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test['Embarked'].value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [6]:
test=test.dropna(subset=['Survived'])
train=train.dropna(subset=['Survived'])

In [7]:
test['Survived'].value_counts(dropna=False)

0    549
1    342
Name: Survived, dtype: int64

In [8]:

y_train = train.loc[:,train.columns=='Survived']
X_train = train.loc[:,train.columns!='Survived']
y_test = test.loc[:,test.columns=='Survived']
X_test = test.loc[:,test.columns!='Survived']

In [9]:
y_train

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [10]:
int_cols =  X_train.select_dtypes(include=['int']).columns.tolist()
float_cols =  X_train.select_dtypes(include=['float']).columns.tolist()
cat_cols =  X_train.select_dtypes(include=['object']).columns.tolist()

In [11]:
pipeline =Pipeline([
            # drop constant features
            ('dropconstantfeatures',DropConstantFeatures(tol=0.8, missing_values='ignore')),
            # int missing values imputers
            ('intimputer', MeanMedianImputer(
                imputation_method='median', variables=int_cols)),
            ('floatimputer', MeanMedianImputer(
                imputation_method='mean', variables=float_cols)),
            # category missing values imputers
            ('catimputer', CategoricalImputer(variables=cat_cols)),
            #
            ('catencoder', OrdinalEncoder()),


 ])

In [12]:
X_train = pipeline.fit_transform(X_train,y_train)

In [13]:
X_test = pipeline.transform(X_test)

In [14]:
X_train

     Pclass  Sex        Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
0         3    1  22.000000      1      0       1   7.2500      1         1
1         1    2  38.000000      1      0       2  71.2833      2         2
2         3    2  26.000000      0      0       3   7.9250      1         1
3         1    2  35.000000      1      0       4  53.1000      3         1
4         3    1  35.000000      0      0       5   8.0500      1         1
..      ...  ...        ...    ...    ...     ...      ...    ...       ...
886       2    1  27.000000      0      0     678  13.0000      1         1
887       1    2  19.000000      0      0     679  30.0000    147         1
888       3    2  29.699118      1      2     615  23.4500      1         1
889       1    1  26.000000      0      0     680  30.0000    148         2
890       3    1  32.000000      0      0     681   7.7500      1         3

[891 rows x 9 columns]

In [15]:
X_test

     Pclass  Sex        Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
0         3    1  22.000000      1      0       1   7.2500      1         1
1         1    2  38.000000      1      0       2  71.2833      2         2
2         3    2  26.000000      0      0       3   7.9250      1         1
3         1    2  35.000000      1      0       4  53.1000      3         1
4         3    1  35.000000      0      0       5   8.0500      1         1
..      ...  ...        ...    ...    ...     ...      ...    ...       ...
886       2    1  27.000000      0      0     678  13.0000      1         1
887       1    2  19.000000      0      0     679  30.0000    147         1
888       3    2  29.699118      1      2     615  23.4500      1         1
889       1    1  26.000000      0      0     680  30.0000    148         2
890       3    1  32.000000      0      0     681   7.7500      1         3

[891 rows x 9 columns]

In [16]:
# print(X_test.isnull().mean())
# print(X_train.isnull().mean())
# print(y_test.isnull().mean())
# print(y_train.isnull().mean())
print('y_train.value_counts()')
print(y_train.value_counts())
print('y_test.value_counts()')
print(y_test.value_counts())

y_train.value_counts()
Survived
0           549
1           342
dtype: int64
y_test.value_counts()
Survived
0           549
1           342
dtype: int64

In [17]:
# test 

print('manhattan distances is -->',paired_distances([[0,1]], [[0,1]],metric='manhattan'))
print('cosine distances is -->',paired_distances([[0,1]], [[0,1]],metric='cosine'))
print('euclidean distances is -->',paired_distances([[0,1]], [[0,1]],metric='euclidean'))

print('manhattan distances is -->',paired_distances([[0,1]], [[1,0]],metric='manhattan'))
print('cosine distances is -->',paired_distances([[0,1]], [[1,0]],metric='cosine'))
print('euclidean distances is -->',paired_distances([[0,1]], [[1,0]],metric='euclidean'))

manhattan distances is --> [0.]
cosine distances is --> [0.]
euclidean distances is --> [0.]
manhattan distances is --> [2.]
cosine distances is --> [1.]
euclidean distances is --> [1.41421356]

In [18]:
def fit(*args, **kwargs):
    X_valid = kwargs['X_valid']
    y_valid = kwargs['y_valid']
    split_dict = {}
    trained = {}
    metric = kwargs['metric']
    X_train = kwargs['X_train']
    y_train = kwargs['y_train']
    X_train.reset_index(drop=True)
    y_train.reset_index(drop=True)
    if X_valid is not None:
        X_train_new, X_valid, y_train_new, y_valid = train_test_split(X_train, y_train, test_size=0.10, random_state=42)
    else:
        X_train_new=X_train.copy()
        y_train_new=y_train.copy()


    threshold = kwargs['threshold']
    number_of_intervals = kwargs['number_of_intervals']
    for col in X_train_new.columns:
        #print(col,'---->',X_train_new[col].dtypes)
        #if X_train_new[col].dtypes=='float64':
        min_col = X_train_new[col].min()
        max_col = X_train_new[col].max()
        len_col = int((max_col-min_col)/number_of_intervals)
        split_dict[col] = [min_col,max_col,len_col]
    for col in X_train_new.columns:
        if split_dict[col][2]!=0:
            #print(col,'---->',X_train_new[col].dtypes)
            X_train_new[col]=((X_train_new[col]-split_dict[col][0])/split_dict[col][2]).round(decimals=0).astype(int)
    
    for index, row in X_train_new.iterrows():
        rhs = []
        lhs = []
        #sampled_row = row.to_list()
        rhs.append(X_train_new.loc[index].to_list())
        lhs.append(y_train_new.loc[index].to_list())

        #rhs.append(sampled_row)
        #lhs.append(y_train_new.iloc[index][0])
        #print("lhs",lhs)
        for i, _ in X_train_new.iterrows():
            if i!=index:
                #print("index is --> ", index, "and i is --->",i)
                sampled_row = X_train_new.loc[index].to_list()
                candidate_row = X_train_new.loc[i].to_list()
                distance_metric = paired_distances([sampled_row], [candidate_row],metric=metric)
                if distance_metric < threshold:
                    #print(sampled_row)
                    #print(candidate_row)
                    #print('similarity between',i,index,'is:',distance_metric)
                    rhs.append(candidate_row)
                    lhs.append(y_train_new.loc[i].to_list())
                    #print('index is', index)
                    #print('row',row)
                    #print('for row', sampled_row)
                    #print('rhs',rhs)
            
        #print('for index, lhs is ----> ',index, lhs)
        lhs = list(itertools.chain(*lhs))
        #print('lhs value counts')
        #print(Counter(lhs).keys())
        #print(Counter(lhs).values())
        if len(lhs)>0:
            lhs=mode(lhs)
        #print('mode lhs')
        #print(lhs)
        rhs = [np.mean(rhs, 0).tolist()]
        trained[index]=[row,rhs,lhs]
    #index_for_print = 9
    #print('rhs for index',index_for_print, "is --> ",trained[index_for_print][1])
    #print('lhs for index',index_for_print, "is --> ",trained[index_for_print][2])
    return trained,split_dict,number_of_intervals,metric

In [19]:
trained,split_dict,number_of_intervals, metric=fit(X_train=X_train,y_train=y_train,number_of_intervals=6,threshold=0.1,metric = 'cosine',X_valid=None,y_valid=None)

In [20]:

for index in range(100):
    print(trained[index])

[Pclass      3
Sex         1
Age         2
SibSp       1
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 0, dtype: int64, [[2.857142857142857, 1.2190476190476192, 2.038095238095238, 0.4, 0.05714285714285714, 0.6857142857142857, 0.06666666666666667, 0.009523809523809525, 1.2095238095238094]], 0]
[Pclass      1
Sex         2
Age         3
SibSp       1
Parch       0
Ticket      0
Fare        1
Cabin       0
Embarked    2
Name: 1, dtype: int64, [[1.0, 1.5555555555555556, 3.111111111111111, 0.6111111111111112, 0.0, 0.16666666666666666, 0.7777777777777778, 0.16666666666666666, 1.6111111111111112]], 1]
[Pclass      3
Sex         2
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 2, dtype: int64, [[2.830188679245283, 1.3584905660377358, 2.0283018867924527, 0.16981132075471697, 0.05660377358490566, 0.7547169811320755, 0.0660377358490566, 0.02830188679245283, 1.179245283018868]], 0]
[Pclass      1
Sex         2
Age         3
SibSp       1
Parch       0
Ticket      0
Fare        1
Cabin       0
Embarked    1
Name: 3, dtype: int64, [[1.2272727272727273, 1.5909090909090908, 2.9545454545454546, 0.7727272727272727, 0.0, 0.22727272727272727, 0.7272727272727273, 0.18181818181818182, 1.2727272727272727]], 1]
[Pclass      3
Sex         1
Age         3
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 4, dtype: int64, [[2.7872340425531914, 1.1382978723404256, 2.4468085106382977, 0.10638297872340426, 0.02127659574468085, 0.7978723404255319, 0.0851063829787234, 0.010638297872340425, 1.148936170212766]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    3
Name: 5, dtype: int64, [[2.9, 1.36, 1.92, 0.26, 0.04, 0.72, 0.0, 0.0, 2.36]], 0]
[Pclass      1
Sex         1
Age         4
SibSp       0
Parch       0
Ticket      0
Fare        1
Cabin       0
Embarked    1
Name: 6, dtype: int64, [[1.3333333333333333, 1.2333333333333334, 3.8, 0.26666666666666666, 0.1, 0.4666666666666667, 0.43333333333333335, 0.23333333333333334, 1.3666666666666667]], 0]
[Pclass      3
Sex         1
Age         0
SibSp       3
Parch       1
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 7, dtype: int64, [[2.9705882352941178, 1.3529411764705883, 0.5294117647058824, 3.676470588235294, 1.4705882352941178, 0.3235294117647059, 0.14705882352941177, 0.029411764705882353, 1.2352941176470589]], 0]
[Pclass      3
Sex         2
Age         2
SibSp       0
Parch       2
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 8, dtype: int64, [[2.769230769230769, 1.8076923076923077, 2.3846153846153846, 0.46153846153846156, 2.3846153846153846, 0.6923076923076923, 0.0, 0.0, 1.2692307692307692]], 1]
[Pclass      2
Sex         2
Age         1
SibSp       1
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 9, dtype: int64, [[2.84375, 1.78125, 1.625, 0.78125, 0.0625, 0.53125, 0.0, 0.03125, 2.28125]], 1]
[Pclass      3
Sex         2
Age         0
SibSp       1
Parch       1
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 10, dtype: int64, [[2.875, 1.8125, 0.4375, 1.0625, 1.0, 0.4375, 0.0, 0.0, 1.1875]], 1]
[Pclass      1
Sex         2
Age         4
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 11, dtype: int64, [[1.4193548387096775, 1.3225806451612903, 3.6129032258064515, 0.25806451612903225, 0.06451612903225806, 0.4838709677419355, 0.3225806451612903, 0.16129032258064516, 1.2580645161290323]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 12, dtype: int64, [[2.8854166666666665, 1.1979166666666667, 2.09375, 0.1875, 0.052083333333333336, 0.6979166666666666, 0.07291666666666667, 0.010416666666666666, 1.21875]], 0]
[Pclass      3
Sex         1
Age         3
SibSp       1
Parch       5
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 13, dtype: int64, [[2.857142857142857, 1.5714285714285714, 2.7142857142857144, 0.7857142857142857, 3.9285714285714284, 0.5, 0.07142857142857142, 0.0, 1.2142857142857142]], 0]
[Pclass      3
Sex         2
Age         1
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 14, dtype: int64, [[2.942857142857143, 1.3857142857142857, 1.6857142857142857, 0.2, 0.05714285714285714, 0.6142857142857143, 0.0, 0.0, 1.3]], 0]
[Pclass      2
Sex         2
Age         4
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 15, dtype: int64, [[1.8936170212765957, 1.297872340425532, 3.297872340425532, 0.23404255319148937, 0.06382978723404255, 0.5957446808510638, 0.14893617021276595, 0.06382978723404255, 1.148936170212766]], 0]
[Pclass      3
Sex         1
Age         0
SibSp       4
Parch       1
Ticket      0
Fare        0
Cabin       0
Embarked    3
Name: 16, dtype: int64, [[3.0, 1.3, 0.4, 3.95, 1.45, 0.05, 0.05, 0.0, 1.4]], 0]
[Pclass      2
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 17, dtype: int64, [[2.767857142857143, 1.2053571428571428, 2.3839285714285716, 0.16071428571428573, 0.026785714285714284, 0.7589285714285714, 0.07142857142857142, 0.008928571428571428, 1.3125]], 0]
[Pclass      3
Sex         2
Age         2
SibSp       1
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 18, dtype: int64, [[2.8735632183908044, 1.3563218390804597, 2.0114942528735633, 0.5172413793103449, 0.08045977011494253, 0.6551724137931034, 0.0, 0.011494252873563218, 1.2413793103448276]], 0]
[Pclass      3
Sex         2
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 19, dtype: int64, [[2.7796610169491527, 1.38135593220339, 1.923728813559322, 0.2627118644067797, 0.0423728813559322, 0.7288135593220338, 0.0, 0.025423728813559324, 1.576271186440678]], 0]
[Pclass      2
Sex         1
Age         3
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 20, dtype: int64, [[2.6025641025641026, 1.1153846153846154, 2.641025641025641, 0.08974358974358974, 0.038461538461538464, 0.7051282051282052, 0.01282051282051282, 0.0, 1.141025641025641]], 0]
[Pclass      2
Sex         1
Age         3
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 21, dtype: int64, [[2.6025641025641026, 1.1153846153846154, 2.641025641025641, 0.08974358974358974, 0.038461538461538464, 0.7051282051282052, 0.01282051282051282, 0.0, 1.141025641025641]], 0]
[Pclass      3
Sex         2
Age         1
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    3
Name: 22, dtype: int64, [[2.9473684210526314, 1.605263157894737, 1.6578947368421053, 0.2894736842105263, 0.02631578947368421, 0.7105263157894737, 0.0, 0.0, 2.526315789473684]], 1]
[Pclass      1
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 23, dtype: int64, [[1.8727272727272728, 1.290909090909091, 3.1818181818181817, 0.2545454545454545, 0.05454545454545454, 0.5454545454545454, 0.2, 0.07272727272727272, 1.4]], 0]
[Pclass      3
Sex         2
Age         1
SibSp       3
Parch       1
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 24, dtype: int64, [[3.0, 1.5, 0.8888888888888888, 3.5555555555555554, 1.4444444444444444, 0.4444444444444444, 0.1111111111111111, 0.0, 1.1111111111111112]], 0]
[Pclass      3
Sex         2
Age         3
SibSp       1
Parch       5
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 25, dtype: int64, [[2.7777777777777777, 1.6666666666666667, 2.611111111111111, 0.7222222222222222, 3.5, 0.4444444444444444, 0.05555555555555555, 0.0, 1.2222222222222223]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 26, dtype: int64, [[2.889830508474576, 1.228813559322034, 2.0084745762711864, 0.17796610169491525, 0.025423728813559324, 0.8135593220338984, 0.059322033898305086, 0.00847457627118644, 1.6101694915254237]], 0]
[Pclass      1
Sex         1
Age         1
SibSp       3
Parch       2
Ticket      0
Fare        3
Cabin       0
Embarked    1
Name: 27, dtype: int64, [[1.0, 1.6666666666666667, 1.6666666666666667, 3.0, 2.0, 0.0, 3.0, 0.0, 1.0]], 1]
[Pclass      3
Sex         2
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    3
Name: 28, dtype: int64, [[2.8596491228070176, 1.4912280701754386, 1.7894736842105263, 0.2807017543859649, 0.03508771929824561, 0.7368421052631579, 0.0, 0.017543859649122806, 2.280701754385965]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 29, dtype: int64, [[2.8854166666666665, 1.1979166666666667, 2.09375, 0.1875, 0.052083333333333336, 0.6979166666666666, 0.07291666666666667, 0.010416666666666666, 1.21875]], 0]
[Pclass      1
Sex         1
Age         3
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 30, dtype: int64, [[1.4, 1.24, 3.68, 0.12, 0.08, 0.52, 0.28, 0.16, 1.68]], 0]
[Pclass      1
Sex         2
Age         2
SibSp       1
Parch       0
Ticket      0
Fare        2
Cabin       0
Embarked    2
Name: 31, dtype: int64, [[1.0, 1.8571428571428572, 2.7142857142857144, 1.0, 0.0, 0.0, 1.1428571428571428, 0.0, 1.7142857142857142]], 1]
[Pclass      3
Sex         2
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    3
Name: 32, dtype: int64, [[2.8596491228070176, 1.4912280701754386, 1.7894736842105263, 0.2807017543859649, 0.03508771929824561, 0.7368421052631579, 0.0, 0.017543859649122806, 2.280701754385965]], 0]
[Pclass      2
Sex         1
Age         5
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 33, dtype: int64, [[1.945945945945946, 1.1081081081081081, 3.675675675675676, 0.13513513513513514, 0.02702702702702703, 0.7027027027027027, 0.16216216216216217, 0.10810810810810811, 1.2432432432432432]], 0]
[Pclass      1
Sex         1
Age         2
SibSp       1
Parch       0
Ticket      0
Fare        1
Cabin       0
Embarked    2
Name: 34, dtype: int64, [[1.0769230769230769, 1.6153846153846154, 3.0, 0.8461538461538461, 0.0, 0.15384615384615385, 1.0, 0.15384615384615385, 2.0]], 1]
[Pclass      1
Sex         1
Age         3
SibSp       1
Parch       0
Ticket      0
Fare        1
Cabin       0
Embarked    1
Name: 35, dtype: int64, [[1.1428571428571428, 1.3333333333333333, 3.4285714285714284, 0.5714285714285714, 0.09523809523809523, 0.2857142857142857, 0.7142857142857143, 0.19047619047619047, 1.2857142857142858]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 36, dtype: int64, [[2.889830508474576, 1.228813559322034, 2.0084745762711864, 0.17796610169491525, 0.025423728813559324, 0.8135593220338984, 0.059322033898305086, 0.00847457627118644, 1.6101694915254237]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 37, dtype: int64, [[2.8854166666666665, 1.1979166666666667, 2.09375, 0.1875, 0.052083333333333336, 0.6979166666666666, 0.07291666666666667, 0.010416666666666666, 1.21875]], 0]
[Pclass      3
Sex         2
Age         1
SibSp       2
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 38, dtype: int64, [[2.892857142857143, 1.75, 1.4285714285714286, 1.6428571428571428, 0.35714285714285715, 0.39285714285714285, 0.0, 0.0, 1.25]], 0]
[Pclass      3
Sex         2
Age         1
SibSp       1
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 39, dtype: int64, [[2.9019607843137254, 1.6274509803921569, 1.6274509803921569, 0.7254901960784313, 0.13725490196078433, 0.47058823529411764, 0.0, 0.0196078431372549, 2.019607843137255]], 1]
[Pclass      3
Sex         2
Age         3
SibSp       1
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 40, dtype: int64, [[2.739130434782609, 1.2826086956521738, 2.3043478260869565, 0.34782608695652173, 0.06521739130434782, 0.6956521739130435, 0.0, 0.0, 1.108695652173913]], 0]
[Pclass      2
Sex         2
Age         2
SibSp       1
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 41, dtype: int64, [[2.5, 1.7045454545454546, 2.1363636363636362, 0.8181818181818182, 0.06818181818181818, 0.4772727272727273, 0.045454545454545456, 0.022727272727272728, 1.25]], 1]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 42, dtype: int64, [[2.889830508474576, 1.228813559322034, 2.0084745762711864, 0.17796610169491525, 0.025423728813559324, 0.8135593220338984, 0.059322033898305086, 0.00847457627118644, 1.6101694915254237]], 0]
[Pclass      2
Sex         2
Age         0
SibSp       1
Parch       2
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 43, dtype: int64, [[2.5, 2.0, 0.0, 1.0, 1.5, 0.25, 0.0, 0.0, 1.25]], 1]
[Pclass      3
Sex         2
Age         1
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    3
Name: 44, dtype: int64, [[2.9473684210526314, 1.605263157894737, 1.6578947368421053, 0.2894736842105263, 0.02631578947368421, 0.7105263157894737, 0.0, 0.0, 2.526315789473684]], 1]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 45, dtype: int64, [[2.8854166666666665, 1.1979166666666667, 2.09375, 0.1875, 0.052083333333333336, 0.6979166666666666, 0.07291666666666667, 0.010416666666666666, 1.21875]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       1
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    3
Name: 46, dtype: int64, [[2.86, 1.36, 1.86, 0.56, 0.08, 0.74, 0.0, 0.0, 2.4]], 0]
[Pclass      3
Sex         2
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    3
Name: 47, dtype: int64, [[2.8596491228070176, 1.4912280701754386, 1.7894736842105263, 0.2807017543859649, 0.03508771929824561, 0.7368421052631579, 0.0, 0.017543859649122806, 2.280701754385965]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       2
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 48, dtype: int64, [[2.8297872340425534, 1.4042553191489362, 1.872340425531915, 1.4680851063829787, 0.1702127659574468, 0.574468085106383, 0.06382978723404255, 0.0, 1.6808510638297873]], 0]
[Pclass      3
Sex         2
Age         1
SibSp       1
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 49, dtype: int64, [[2.816326530612245, 1.5918367346938775, 1.510204081632653, 0.6326530612244898, 0.12244897959183673, 0.4489795918367347, 0.0, 0.0, 1.183673469387755]], 0]
[Pclass      3
Sex         1
Age         1
SibSp       4
Parch       1
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 50, dtype: int64, [[3.0, 1.4047619047619047, 0.9285714285714286, 4.476190476190476, 1.5714285714285714, 0.5, 0.2857142857142857, 0.0, 1.1904761904761905]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 51, dtype: int64, [[2.8854166666666665, 1.1979166666666667, 2.09375, 0.1875, 0.052083333333333336, 0.6979166666666666, 0.07291666666666667, 0.010416666666666666, 1.21875]], 0]
[Pclass      1
Sex         2
Age         4
SibSp       1
Parch       0
Ticket      0
Fare        1
Cabin       0
Embarked    2
Name: 52, dtype: int64, [[1.0357142857142858, 1.4285714285714286, 3.4285714285714284, 0.4642857142857143, 0.07142857142857142, 0.35714285714285715, 0.75, 0.35714285714285715, 1.5714285714285714]], 1]
[Pclass      2
Sex         2
Age         2
SibSp       1
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 53, dtype: int64, [[2.5, 1.7045454545454546, 2.1363636363636362, 0.8181818181818182, 0.06818181818181818, 0.4772727272727273, 0.045454545454545456, 0.022727272727272728, 1.25]], 1]
[Pclass      1
Sex         1
Age         5
SibSp       0
Parch       1
Ticket      0
Fare        1
Cabin       0
Embarked    2
Name: 54, dtype: int64, [[1.2083333333333333, 1.2083333333333333, 3.9166666666666665, 0.20833333333333334, 0.125, 0.5, 0.4583333333333333, 0.3333333333333333, 1.5416666666666667]], 0]
[Pclass      1
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 55, dtype: int64, [[1.8727272727272728, 1.290909090909091, 3.1818181818181817, 0.2545454545454545, 0.05454545454545454, 0.5454545454545454, 0.2, 0.07272727272727272, 1.4]], 0]
[Pclass      2
Sex         2
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    1
Name: 56, dtype: int64, [[2.7058823529411766, 1.3764705882352941, 2.152941176470588, 0.18823529411764706, 0.03529411764705882, 0.6352941176470588, 0.0, 0.023529411764705882, 1.1764705882352942]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    2
Name: 57, dtype: int64, [[2.889830508474576, 1.228813559322034, 2.0084745762711864, 0.17796610169491525, 0.025423728813559324, 0.8135593220338984, 0.059322033898305086, 0.00847457627118644, 1.6101694915254237]], 0]
[Pclass      2
Sex         2
Age         0
SibSp       1
Parch       2
Ticket      1
Fare        0
Cabin       0
Embarked    1
Name: 58, dtype: int64, [[2.6, 1.8, 0.4, 1.1333333333333333, 1.8, 0.9333333333333333, 0.0, 0.06666666666666667, 1.1333333333333333]], 1]
[Pclass      3
Sex         1
Age         1
SibSp       5
Parch       2
Ticket      1
Fare        1
Cabin       0
Embarked    1
Name: 59, dtype: int64, [[3.0, 1.435897435897436, 0.9743589743589743, 4.564102564102564, 1.641025641025641, 0.5384615384615384, 0.3076923076923077, 0.0, 1.1025641025641026]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      1
Fare        0
Cabin       0
Embarked    2
Name: 60, dtype: int64, [[2.8823529411764706, 1.2459893048128343, 2.0427807486631018, 0.1925133689839572, 0.058823529411764705, 1.358288770053476, 0.0481283422459893, 0.0106951871657754, 1.6203208556149733]], 0]
[Pclass      1
Sex         2
Age         3
SibSp       0
Parch       0
Ticket      1
Fare        1
Cabin       1
Embarked    4
Name: 61, dtype: int64, [[1.0833333333333333, 1.6666666666666667, 2.6666666666666665, 0.16666666666666666, 0.08333333333333333, 1.3333333333333333, 0.6666666666666666, 0.75, 2.5]], 1]
[Pclass      1
Sex         1
Age         3
SibSp       1
Parch       0
Ticket      1
Fare        1
Cabin       1
Embarked    1
Name: 62, dtype: int64, [[1.0444444444444445, 1.4, 3.466666666666667, 0.6444444444444445, 0.17777777777777778, 1.3777777777777778, 0.9777777777777777, 1.288888888888889, 1.3333333333333333]], 1]
[Pclass      3
Sex         1
Age         0
SibSp       3
Parch       2
Ticket      1
Fare        0
Cabin       0
Embarked    1
Name: 63, dtype: int64, [[2.935483870967742, 1.4193548387096775, 0.5483870967741935, 3.6129032258064515, 1.6451612903225807, 0.4838709677419355, 0.16129032258064516, 0.06451612903225806, 1.0]], 0]
[Pclass      1
Sex         1
Age         2
SibSp       0
Parch       0
Ticket      1
Fare        0
Cabin       0
Embarked    2
Name: 64, dtype: int64, [[2.238095238095238, 1.3968253968253967, 2.4126984126984126, 0.1746031746031746, 0.06349206349206349, 1.6984126984126984, 0.1111111111111111, 0.1111111111111111, 2.4126984126984126]], 0]
[Pclass      3
Sex         1
Age         2
SibSp       1
Parch       1
Ticket      1
Fare        0
Cabin       0
Embarked    2

In [21]:
def predict(*args, **kwargs):

    
    split_dict = {}
    trained=kwargs['trained']
    split_dict=kwargs['split_dict']
    number_of_intervals=kwargs['number_of_intervals']
    metric=kwargs['metric']
    X_test = kwargs['X_test']
    for col in X_test.columns:
        #print(col,'---->',X_train[col].dtypes)
        #if X_train[col].dtypes=='float64':
        min_col = X_test[col].min()
        max_col = X_test[col].max()
        len_col = int((max_col-min_col)/number_of_intervals)
        split_dict[col] = [min_col,max_col,len_col]
        for col in X_test.columns:
            if split_dict[col][2]!=0:
                #print(col,'---->',X_test[col].dtypes)
                X_test[col]=((X_test[col]-split_dict[col][0])/split_dict[col][2]).round(decimals=0).astype(int)
    predictions =[]
    for index, row in X_test.iterrows():
        max_membership_for_sample = []
        sampled_row = row.to_list()
        for index_in_train in trained:
            _,rhs,_ = trained[index_in_train]
            max_ds = 0
            for rh in rhs:
                #print(rhs)
                paired_d = paired_distances([sampled_row], [rh],metric=metric)
                max_ds = max_ds + paired_d[0]/len(rhs)
                #print(max_ds)
            max_membership_for_sample.append(max_ds)
        #print('max_membership_for_sample',max_membership_for_sample)
        #print('len max_membership_for_sample',len(max_membership_for_sample))
        #print('max(max_membership_for_sample)',max(max_membership_for_sample))
        min_index = min(range(len(max_membership_for_sample)), key=max_membership_for_sample.__getitem__)
        #print('min_index -->',min_index)
        #print('index in train of all data -->',trained[min_index])
        y_forecast = trained[min_index][2]
        #print('possible forecast for y is -->',y_forecast)
        predictions.append(y_forecast)

    y_pred = pd.DataFrame(columns=['y_pred'],data=predictions)
    #print('y_pred -->')
    #print(y_pred)


    return y_pred

In [22]:
y_pred = predict(X_test=X_test,trained=trained,split_dict=split_dict,number_of_intervals=number_of_intervals,metric=metric)

res = pd.DataFrame(data=pd.concat([y_pred,y_test], axis=1))

print(res)

     y_pred  Survived
0         0         0
1         1         1
2         0         1
3         1         1
4         0         0
..      ...       ...
886       0         0
887       1         1
888       1         0
889       1         1
890       1         0

[891 rows x 2 columns]

In [23]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.66      0.73       549
           1       0.58      0.75      0.65       342

    accuracy                           0.70       891
   macro avg       0.69      0.71      0.69       891
weighted avg       0.72      0.70      0.70       891

In [24]:
print(confusion_matrix(y_test, y_pred))

[[365 184]
 [ 87 255]]